.subHeader {
   width: 100%;
   background-color: #CCCCCC;
   padding: 30px 15px;
   text-align: center;

   &__title {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 800;
   }
   
   &__subtitle {
      font-size: 16px;
   }
}

.breadcrumb {
   background-color: #F6F4F7;
   padding: 25px 0 0 0;
   text-transform: uppercase;
   &__title {
      font-weight: 800;
      font-size: 30px;
   }
   &__subtitle {
      font-size: 30px;
      font-weight: 300;
   }
   &__marker{
      width: 90px;
      background-color: #A80000;
      color: #A80000;
      margin: 10px 0 0 0 ;
      padding: 0;
      height: 8px;
      border: 0;  
   }
}

@media only screen and (max-width: 600px) {
   .subHeader{
      padding: 15px;
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 12px;
      }
   }
   
   .breadcrumb {
      padding: 15px 0 0 0;
      &__title {
         font-weight: 800;
         font-size: 22px;
      }
      &__subtitle {
         font-size: 22px;
         font-weight: 300;
      }
      &__marker{
         width: 70px;
         margin: 5px 0 0 0 ;
      }
   }
}

