@import '../../mixins';
@import '../../variables';

.subHeader {
   width: 100%;
   background-color: #CCCCCC;
   padding: 30px 15px;
   text-align: center;
   &__title {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 800;
   }
   
   &__subtitle {
      font-size: 16px;
   }
}

.breadcrumb {
   background-color: $gray-5;
   padding: 25px 0 0 0;
   text-transform: uppercase;
   margin-bottom: 15px;
   &__title {
      @include textStyle(30px, 800, unset);
   }
   &__subtitle {
      @include textStyle(30px, 300, unset);
   }
   &__marker{
      width: 90px;
      background-color: $red-2;
      color: $red-2;
      margin: 10px 0 0 0 ;
      padding: 0;
      height: 8px;
      border: 0;  
   }
}

@media only screen and (max-width: 600px) {
   .subHeader{
      padding: 15px;
      &__title {
         font-size: 22px;
      }
      &__subtitle {
         font-size: 12px;
      }
   }
   
   .breadcrumb {
      padding: 15px 0 0 0;
      &__title {
         @include textStyle(22px, 800, unset);
      }
      &__subtitle {
         @include textStyle(22px, 300, unset);
      }
      &__marker{
         width: 70px;
         margin: 5px 0 0 0 ;
      }
   }
}

