@import '../../mixins';
@import '../../variables';

.chartList{
}
.chartContainer{
    background-color: $gray-5;
    width: 100%;
    margin-bottom: 15px;
}

.municipio{
    cursor: pointer;
    &:hover{
        opacity: .6;
    }
}